<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Mercearia</display-name>
  <welcome-file-list>
    <welcome-file>BemVindo.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>controlador</servlet-name>
    <servlet-class>br.com.mercearia.controller.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador</servlet-name>
    <url-pattern>/Control</url-pattern>
    <url-pattern>/views/Control</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuscaCliente</servlet-name>
    <servlet-class>br.com.mercearia.servlet.BuscaCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaCliente</servlet-name>
    <url-pattern>/BuscaCliente</url-pattern>
    <url-pattern>/views/BuscaCliente</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>BuscaDetalhesCompra</servlet-name>
    <servlet-class>br.com.mercearia.servlet.BuscaDetalhesCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaDetalhesCompra</servlet-name>
    <url-pattern>/BuscaDetalhesCompra</url-pattern>
    <url-pattern>/views/BuscaDetalhesCompra</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
    <servlet-name>NovoFuncionario</servlet-name>
    <servlet-class>br.com.mercearia.servlet.NovoFuncionario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovoFuncionario</servlet-name>
    <url-pattern>/NovoFuncionario</url-pattern>
    <url-pattern>/views/NovoFuncionario</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>EditaFornecedor</servlet-name>
    <servlet-class>br.com.mercearia.servlet.EditaFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditaFornecedor</servlet-name>
    <url-pattern>/EditaFornecedor</url-pattern>
    <url-pattern>/views/EditaFornecedor</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NovoPedido</servlet-name>
    <servlet-class>br.com.mercearia.servlet.NovoPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovoPedido</servlet-name>
    <url-pattern>/NovoPedido</url-pattern>
    <url-pattern>/views/NovoPedido</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>NovoProduto</servlet-name>
    <servlet-class>br.com.mercearia.servlet.NovoProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovoProduto</servlet-name>
    <url-pattern>/NovoProduto</url-pattern>
    <url-pattern>/views/NovoProduto</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>BuscaProduto</servlet-name>
    <servlet-class>br.com.mercearia.servlet.BuscaProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaProduto</servlet-name>
    <url-pattern>/BuscaProduto</url-pattern>
    <url-pattern>/views/BuscaProduto</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ExcluiProduto</servlet-name>
    <servlet-class>br.com.mercearia.servlet.ExcluiProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluiProduto</servlet-name>
    <url-pattern>/ExcluiProduto</url-pattern>
    <url-pattern>/views/ExcluiProduto</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <servlet-name>EditaProduto</servlet-name>
    <servlet-class>br.com.mercearia.servlet.EditaProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditaProduto</servlet-name>
    <url-pattern>/EditaProduto</url-pattern>
    <url-pattern>/views/EditaProduto</url-pattern>
  </servlet-mapping>
  
  
  
  
<servlet>
    <servlet-name>BuscaCompra</servlet-name>
    <servlet-class>br.com.mercearia.servlet.BuscaCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaCompra</servlet-name>
    <url-pattern>/BuscaCompra</url-pattern>
    <url-pattern>/views/BuscaCompra</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ExcluiCliente</servlet-name>
    <servlet-class>br.com.mercearia.servlet.ExcluiCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluiCliente</servlet-name>
    <url-pattern>/ExcluiCliente</url-pattern>
    <url-pattern>/views/ExcluiCliente</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>NovoCliente</servlet-name>
    <servlet-class>br.com.mercearia.servlet.NovoCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovoCliente</servlet-name>
    <url-pattern>/NovoCliente</url-pattern>
    <url-pattern>/views/NovoCliente</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>NovaCompra</servlet-name>
    <servlet-class>br.com.mercearia.servlet.NovaCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovaCompra</servlet-name>
    <url-pattern>/NovaCompra</url-pattern>
    <url-pattern>/views/NovaCompra</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>BuscaNomeProduto</servlet-name>
    <servlet-class>br.com.mercearia.servlet.BuscaNomeProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaNomeProduto</servlet-name>
    <url-pattern>/BuscaNomeProduto</url-pattern>
    <url-pattern>/views/BuscaNomeProduto</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>BuscaCodigoProduto</servlet-name>
    <servlet-class>br.com.mercearia.servlet.BuscaCodigoProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaCodigoProduto</servlet-name>
    <url-pattern>/BuscaCodigoProduto</url-pattern>
    <url-pattern>/views/BuscaCodigoProduto</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>EditaCliente</servlet-name>
    <servlet-class>br.com.mercearia.servlet.EditaCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditaCliente</servlet-name>
    <url-pattern>/EditaCliente</url-pattern>
    <url-pattern>/views/EditaCliente</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>BuscaNomeFuncionario</servlet-name>
    <servlet-class>br.com.mercearia.servlet.BuscaNomeFuncionario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaNomeFuncionario</servlet-name>
    <url-pattern>/BuscaNomeFuncionario</url-pattern>
    <url-pattern>/views/BuscaNomeFuncionario</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BuscaNomeCliente</servlet-name>
    <servlet-class>br.com.mercearia.servlet.BuscaNomeCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaNomeCliente</servlet-name>
    <url-pattern>/BuscaNomeCliente</url-pattern>
    <url-pattern>/views/BuscaNomeCliente</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>NovoFornecedor</servlet-name>
    <servlet-class>br.com.mercearia.servlet.NovoFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovoFornecedor</servlet-name>
    <url-pattern>/NovoFornecedor</url-pattern>
    <url-pattern>/views/NovoFornecedor</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>BuscaFornecedor</servlet-name>
    <servlet-class>br.com.mercearia.servlet.BuscaFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaFornecedor</servlet-name>
    <url-pattern>/BuscaFornecedor</url-pattern>
    <url-pattern>/views/BuscaFornecedor</url-pattern>
  </servlet-mapping>


<servlet>
    <servlet-name>BuscaNomeFornecedor</servlet-name>
    <servlet-class>br.com.mercearia.servlet.BuscaNomeFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaNomeFornecedor</servlet-name>
    <url-pattern>/BuscaNomeFornecedor</url-pattern>
    <url-pattern>/views/BuscaNomeFornecedor</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>BuscaFuncionario</servlet-name>
    <servlet-class>br.com.mercearia.servlet.BuscaFuncionario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaFuncionario</servlet-name>
    <url-pattern>/BuscaFuncionario</url-pattern>
    <url-pattern>/views/BuscaFuncionario</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>BuscaPedido</servlet-name>
    <servlet-class>br.com.mercearia.servlet.BuscaPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaPedido</servlet-name>
    <url-pattern>/BuscaPedido</url-pattern>
    <url-pattern>/views/BuscaPedido</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <servlet>
    <servlet-name>ExcluiFornecedor</servlet-name>
    <servlet-class>br.com.mercearia.servlet.ExcluiFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluiFornecedor</servlet-name>
    <url-pattern>/ExcluiFornecedor</url-pattern>
    <url-pattern>/views/ExcluiFornecedor</url-pattern>
  </servlet-mapping>



  <servlet-mapping>
    <servlet-name>Deslogando</servlet-name>
    <url-pattern>/Deslogando</url-pattern>
    <url-pattern>/views/Deslogando</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deslogando</servlet-name>
    <servlet-class>br.com.mercearia.servlet.Deslogando</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Logando</servlet-name>
    <servlet-class>br.com.mercearia.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logando</servlet-name>
    <url-pattern>/ValidandoLogin</url-pattern>
    <url-pattern>/views/ValidandoLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EditaFuncionario</servlet-name>
    <servlet-class>br.com.mercearia.servlet.EditaFuncionario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditaFuncionario</servlet-name>
    <url-pattern>/EditaFuncionario</url-pattern>
    <url-pattern>/views/EditaFuncionario</url-pattern>
  </servlet-mapping>
  
  
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
</web-app>